In [595]:
# from mip import *
import pandas as pd

In [596]:
dataset = pd.read_csv('Out_60.csv')
dataset = dataset.drop(["Unnamed: 0", 'last_outcome_category', 'location'], axis=1)
mask = dataset['ward_name']!=dataset['ward_name']
dataset = dataset[~mask]
pop_dens = pd.read_csv('population density.csv')
pop_dens['name'][19] = 'Totteridge & Woodside'
pop_dens.set_index('name', inplace=True)

C:\Users\20212693\AppData\Local\Temp\ipykernel_27072\1027764547.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pop_dens['name'][19] = 'Totteridge & Woodside'

In [597]:
best_order_lst = [[('High Barnet', (0, 0, 0), (1, 0, 0, 12)), 0.1859, 1.541103500742244],
 [('Underhill', (1, 0, 1), (2, 0, 1, 6)), 0.425, 1.8027756377319946],
 [('East Barnet', (0, 0, 1), (1, 0, 0, 12)), 0.3512, 1.7320508075688772],
 [('Barnet Vale', (0, 0, 1), (2, 0, 0, 6)), 0.2572, 2.3717082451262845],
 [('Edgwarebury', (0, 1, 2), (1, 0, 0, 6)), 0.2646, 1.1726039399558574],
 [('Totteridge & Woodside', (0, 0, 0), (2, 0, 0, 12)),
  0.2679,
  3.0618621784789726],
 [('Whetstone', (0, 1, 1), (1, 0, 0, 6)), 0.1949, 2.091650066335189],
 [('Brunswick Park', (1, 1, 0), (1, 0, 1, 12)), 0.3772, 2.622022120425379],
 [('Woodhouse', (0, 0, 0), (2, 0, 0, 6)), 0.3013, 2.1213203435596424],
 [('Edgware', (0, 0, 1), (2, 0, 1, 12)), 0.1818, 2.3979157616563596],
 [('Friern Barnet', (0, 0, 0), (2, 0, 1, 6)), 0.0734, 1.5],
 [('Mill Hill', (0, 0, 1), (1, 0, 0, 12)), 0.2139, 2.7613402542968153],
 [('Burnt Oak', (1, 0, 1), (1, 0, 0, 6)), 0.4433, 5.522680508593631],
 [('West Finchley', (0, 1, 1), (1, 0, 1, 12)), 0.2999, 2.7613402542968153],
 [('Finchley Church End', (0, 0, 2), (1, 0, 0, 6)),
  0.1267,
  1.5811388300841898],
 [('Colindale North', (0, 0, 0), (2, 0, 0, 6)), 0.2292, 1.5811388300841898],
 [('East Finchley', (0, 0, 0), (2, 0, 1, 12)), 0.3156, 3.0618621784789726],
 [('Hendon', (1, 0, 0), (1, 0, 0, 6)), 0.5806, 9.334077351297235],
 [('Garden Suburb', (1, 1, 0), (1, 0, 1, 6)), 0.2307, 1.8371173070873836],
 [('West Hendon', (1, 1, 1), (1, 0, 0, 6)), 0.1589, 2.091650066335189],
 [('Golders Green', (0, 0, 0), (1, 0, 0, 6)), 0.29, 3.7416573867739413],
 [('Childs Hill', (0, 1, 2), (2, 0, 0, 6)), 0.2775, 5.431390245600108],
 [('Cricklewood', (0, 0, 1), (1, 0, 0, 6)), 0.2417, 3.7080992435478315],
 [('Colindale South', (0, 1, 1), (1, 0, 0, 6)), 0.0, 0.0]]

In [598]:
# wards = []
# for x in best_order_lst:
#     wards.append(x[0][0])

In [599]:
# dataset[dataset['ward_name'] == 'Colindale South'].groupby('month').count()['longitude']

In [600]:
# ward_crimes = {}
# for x in wards:
#     print(x, len(dataset[dataset['ward_name'] == x].groupby('month').count()['longitude']))
#     ward_crimes[x] = dataset[dataset['ward_name'] == x].groupby('month').count()['longitude']['2023-01']

In [601]:
# relatives = []

# for x in crimes_2023_03:
#     relatives.append(crimes_2023_03[x]/total)
    
# r1 = relatives[0]
# r2 = relatives[1]
# r3 = relatives[2]
# r4 = relatives[3]
# r5 = relatives[4]
# r6 = relatives[5]
# r7 = relatives[6]
# r8 = relatives[7]
# r9 = relatives[8]
# r10 = relatives[9]
# r11 = relatives[10]
# r12 = relatives[11]
# r13 = relatives[12]
# r14 = relatives[13]
# r15 = relatives[14]
# r16 = relatives[15]
# r17 = relatives[16]
# r18 = relatives[17]
# r19 = relatives[18]
# r20 = relatives[19]
# r21 = relatives[20]
# r22 = relatives[21]
# r23 = relatives[22]
# r24 = relatives[23]

# m = Model("barnet", solver_name = "CBC")
# high_bar = m.add_var(var_type="C", lb=0, ub=4)
# underh = m.add_var(var_type="C", lb=0, ub=4)
# east_bar = m.add_var(var_type="C", lb=0, ub=4)
# bar_vale = m.add_var(var_type="C", lb=0, ub=4)
# edgwarebury = m.add_var(var_type="C", lb=0, ub=4)
# tot_wood = m.add_var(var_type="C", lb=0, ub=4)
# whet = m.add_var(var_type="C", lb=0, ub=4)
# bruns_p = m.add_var(var_type="C", lb=0, ub=4)
# wood = m.add_var(var_type="C", lb=0, ub=4)
# edgw = m.add_var(var_type="C", lb=0, ub=4)
# fri_bar = m.add_var(var_type="C", lb=0, ub=4)
# mill_hill = m.add_var(var_type="C", lb=0, ub=4)
# bur_oak = m.add_var(var_type="C", lb=0, ub=4)
# west_finch = m.add_var(var_type="C", lb=0, ub=4)
# finch_chu = m.add_var(var_type="C", lb=0, ub=4)
# col_north = m.add_var(var_type="C", lb=0, ub=4)
# east_finch = m.add_var(var_type="C", lb=0, ub=4)
# hendon = m.add_var(var_type="C", lb=0, ub=4)
# gard_subu = m.add_var(var_type="C", lb=0, ub=4)
# west_hend = m.add_var(var_type="C", lb=0, ub=4)
# gold_green = m.add_var(var_type="C", lb=0, ub=4)
# child_hill = m.add_var(var_type="C", lb=0, ub=4)
# cricklew = m.add_var(var_type="C", lb=0, ub=4)
# col_south = m.add_var(var_type="C", lb=0, ub=4)
# doubles = m.add_var(var_type="B")

In [602]:
# m.objective = maximize(r1*high_bar + r2*underh + r3*east_bar + r4*bar_vale + r5*edgwarebury + r6*tot_wood + r7*whet + r8*bruns_p + r9*wood + r10*edgw + r11*fri_bar + r12*mill_hill + r13*bur_oak + r14*west_finch + r15*finch_chu + r16*col_north + r17*east_finch + r18*hendon + r19*gard_subu + r20*west_hend + r21*gold_green + r22*child_hill + r23*cricklew + r24*col_south)
# m += high_bar + underh + east_bar + bar_vale + edgwarebury + tot_wood + whet + bruns_p + wood + edgw + fri_bar + mill_hill + bur_oak + west_finch + finch_chu + col_north + east_finch + hendon + gard_subu + west_hend + gold_green + child_hill + cricklew + col_south == 100


# m.optimize()

In [603]:
# if m.status == OptimizationStatus.OPTIMAL:
#     print('Optimal solution of value', round(m.objective_value, 3), 'found')

In [604]:
# print('High Barnet:', high_bar.x)
# print('Underhill:', underh.x)
# print('East Barnet:', east_bar.x)
# print('Barnet Vale:', bar_vale.x)
# print('Edgwarebury:', edgwarebury.x)
# print('Totteridge & Woodside:', tot_wood.x)
# print('Whetstone:', whet.x)
# print('Brunswick Park:', bruns_p.x)
# print('Woodhouse:', wood.x)
# print('Edgware:', edgw.x)
# print('Friern Barnet:', fri_bar.x)
# print('Mill Hill:', mill_hill.x)
# print('Burnt Oak:', bur_oak.x)
# print('West Finchley:', west_finch.x)
# print('Finchley Church End:', finch_chu.x)
# print('Colindale North:', col_north.x)
# print('East Finchley:', east_finch.x)
# print('Hendon:', hendon.x)
# print('Garden Suburb:', gard_subu.x)
# print('West Hendon:', west_hend.x)
# print('Golders Green:', gold_green.x)
# print('Childs Hill:', child_hill.x)
# print('Cricklewood:', cricklew.x)
# print('Colindale South:', col_south.x)

In [605]:
all_months = ['2010-12', '2011-01', '2011-02', '2011-03', '2011-04', '2011-05', '2011-06', '2011-07', '2011-08', '2011-09', '2011-10', '2011-11', '2011-12', '2012-01', '2012-02', '2012-03', '2012-04', '2012-05', '2012-06', '2012-07', '2012-08', '2012-09', '2012-10', '2012-11', '2012-12', '2013-01', '2013-02', '2013-03', '2013-04', '2013-05', '2013-06', '2013-07', '2013-08', '2013-09', '2013-10', '2013-11', '2013-12', '2014-01', '2014-02', '2014-03', '2014-04', '2014-05', '2014-06', '2014-07', '2014-08', '2014-09', '2014-10', '2014-11', '2014-12', '2015-01', '2015-02', '2015-03', '2015-04', '2015-05', '2015-06', '2015-07', '2015-08', '2015-09', '2015-10', '2015-11', '2015-12', '2016-01', '2016-02', '2016-03', '2016-04', '2016-05', '2016-06', '2016-07', '2016-08', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09', '2019-10','2019-11', '2019-12', '2020-01', '2020-02', '2020-03', '2020-04', '2020-05', '2020-06', '2020-07', '2020-08', '2020-09', '2020-10', '2020-11', '2020-12', '2021-01', '2021-02','2021-03', '2021-04', '2021-05', '2021-06', '2021-07', '2021-08', '2021-09', '2021-10', '2021-11', '2021-12', '2022-01', '2022-02', '2022-03', '2022-04', '2022-05', '2022-06', '2022-07', '2022-08', '2022-09', '2022-10', '2022-11', '2022-12', '2023-01', '2023-02', '2023-03']

In [682]:
dataset.groupby('month').count()

,crime_id,longitude,latitude,lsoa_code,lsoa_name,ward_code,ward_name
month,,,,,,,
2010-12,363,363,363,363,363,363,363
2011-01,480,480,480,480,480,480,480
2011-02,396,396,396,396,396,396,396
2011-03,401,401,401,401,401,401,401
2011-04,404,404,404,404,404,404,404
...,...,...,...,...,...,...,...
2022-11,234,234,234,234,234,234,234
2022-12,212,212,212,212,212,212,212
2023-01,225,225,225,225,225,225,225
2023-02,184,184,184,184,184,184,184
2023-03,218,218,218,218,218,218,218

In [703]:
temp_dct

{'Burnt Oak': [2, 2.325684213372483],
 'Barnet Vale': [2, 1.6063298072331158],
 'Brunswick Park': [2, 1.670546460885938],
 'Childs Hill': [2, 2.018028894022974],
 'Colindale North': [1, 0.27338207831033656],
 'Colindale South': [1, 0.297972580676396],
 'Cricklewood': [1, 0.5721950476262858],
 'East Barnet': [1, 0.7088495481449517],
 'East Finchley': [2, 2.0758512862878904],
 'Edgware': [4, 3.950557378630525],
 'Edgwarebury': [2, 2.2206356334283224],
 'Finchley Church End': [2, 1.6376616880338528],
 'Friern Barnet': [2, 1.8620089161580797],
 'Garden Suburb': [2, 1.8177971659902759],
 'Golders Green': [1, 0.8648695260098458],
 'Hendon': [1, 0.6151279455165084],
 'West Hendon': [6, 6.10146669740784],
 'High Barnet': [4, 4.275020470771101],
 'Mill Hill': [5, 6.972302617372151],
 'Totteridge & Woodside': [1, 0.9641632707048927],
 'Underhill': [1, 0.6733157241464484],
 'West Finchley': [3, 3.167169012020847],
 'Whetstone': [1, 1.3904778120956773],
 'Woodhouse': [1, 0.9385862251532706]}

In [743]:
def create_monthly_crimes(month):
    monthly_crimes = {}
    for w in wards:
        try:
            monthly_crimes[w] = int(dataset[dataset['ward_name'] == w].groupby('month').count()['longitude'][month])
        except:
            monthly_crimes[w] = 0
            
    return monthly_crimes

def fix_amount(rounded_total, temp_dct):

    while rounded_total > 50:
        high = -999
        for x in dct:
            if temp_dct[x][0] > high:
                high = temp_dct[x][0]
                highest = [x]
            elif temp_dct[x][0] == high:
                highest.append(x)
         
        low = 999
        for x in highest:
            if temp_dct[x][1] < low:
                low = temp_dct[x][1]
                final = x
    
        temp_dct[final][1] -= 1
        temp_dct[final][0] -= 1      
        rounded_total -= 1.0
        
        
    while rounded_total < 50:
        low = 999
        for x in dct:
            if temp_dct[x][0] < low:
                low = temp_dct[x][0]
                lowest = [x]
            elif temp_dct[x][0] == low:
                lowest.append(x)
        
        high = -999
        for x in lowest:
            if temp_dct[x][1] > high:
                high = temp_dct[x][1]
                final = x  

        temp_dct[final][1] += 1
        temp_dct[final][0] += 1
        rounded_total +=1
        
               
    no_officers = []
    for x in temp_dct:
        if temp_dct[x][0] == 0:
            no_officers.append(x)

    while len(current_highest) != len(no_officers):
        high = -999
        for x in temp_dct:
            if temp_dct[x][1] > high:
                high = temp_dct[x][1]
                highest = x

        current_highest.append(highest)
        temp_dct[highest][1] -= 1
        temp_dct[highest][0] -= 1

    for no_of in no_officers:
        temp_dct[no_of][0] += 1

# Change the following cell to update the month

In [672]:
monthly_crimes = {'High Barnet': 6, 'Underhill': 3, 'East Barnet': 2, 'Barnet Vale': 5, 'Edgwarebury': 5, 'Totteridge & Woodside': 5, 'Whetstone': 6, 'Brunswick Park': 6, 'Woodhouse': 5, 'Edgware': 8, 'Friern Barnet': 7, 'Mill Hill': 8, 'Burnt Oak': 10, 'West Finchley': 11, 'Finchley Church End': 6, 'Colindale North': 3, 'East Finchley': 9, 'Hendon': 2, 'Garden Suburb': 5, 'West Hendon': 9, 'Golders Green': 6, 'Childs Hill': 7, 'Cricklewood': 3,'Colindale South': 2}

In [696]:
crimes = [monthly_crimes[x] for x in pop_dens.index]
pop_dens["crimes"] = crimes

# area_crimes = [(pop_dens['Area (km2)'][x]*pop_dens['crimes'][x]) for x in pop_dens.index]
# pop_dens['area_crimes'] = area_crimes

crimes_area = [(pop_dens['crimes'][x]/pop_dens['Area (km2)'][x]) for x in pop_dens.index]
pop_dens['crimes_area'] = crimes_area

# total_area_crimes = sum(area_crimes)
# relative_area_crimes = [(x/total_area_crimes) for x in area_crimes]
# pop_dens['relative_area_crimes'] = relative_area_crimes

total_crimes_area = sum(crimes_area)
relative_crimes_area = [(x/total_crimes_area) for x in crimes_area]
pop_dens['relative_crimes_area'] = relative_crimes_area

In [697]:
pop_dens.head()

,id,boundaries,Population,Area (km2),Population density,crimes,area_crimes,relative_area_crimes,crimes_area,relative_crimes_area
name,,,,,,,,,,
Burnt Oak,E05013630,"[(51.597724278003, -0.25291781885811), (51.597...",16869,2.5460,6625.687353,10,25.4600,0.046514,3.927730,0.084675
Barnet Vale,E05013628,"[(51.634276016337, -0.17977180627771), (51.634...",16211,3.5170,4609.326130,5,17.5850,0.032127,1.421666,0.030649
Brunswick Park,E05013629,"[(51.627511902482, -0.15625171052302), (51.627...",21857,3.0480,7170.931759,6,18.2880,0.033411,1.968504,0.042438
Childs Hill,E05013631,"[(51.559882977663, -0.19691984536718), (51.559...",19629,3.1560,6219.581749,7,22.0920,0.040361,2.217997,0.047816
Colindale North,E05013632,"[(51.597724278003, -0.25291781885811), (51.597...",12060,0.9976,12089.013633,3,2.9928,0.005468,3.007217,0.064831

In [698]:
pop_dens.corr()

,Population,Area (km2),Population density,crimes,area_crimes,relative_area_crimes,crimes_area,relative_crimes_area
Population,1.000000,-0.036594,0.246416,-0.014331,-0.092134,-0.092134,-0.119566,-0.119566
Area (km2),-0.036594,1.000000,-0.795150,0.349121,0.915606,0.915606,-0.546440,-0.546440
Population density,0.246416,-0.795150,1.000000,-0.373658,-0.702666,-0.702666,0.458445,0.458445
crimes,-0.014331,0.349121,-0.373658,1.000000,0.650934,0.650934,0.512747,0.512747
area_crimes,-0.092134,0.915606,-0.702666,0.650934,1.000000,1.000000,-0.217023,-0.217023
relative_area_crimes,-0.092134,0.915606,-0.702666,0.650934,1.000000,1.000000,-0.217023,-0.217023
crimes_area,-0.119566,-0.546440,0.458445,0.512747,-0.217023,-0.217023,1.000000,1.000000
relative_crimes_area,-0.119566,-0.546440,0.458445,0.512747,-0.217023,-0.217023,1.000000,1.000000

In [702]:
temp_dct

{'Burnt Oak': [2, 2.325684213372483],
 'Barnet Vale': [2, 1.6063298072331158],
 'Brunswick Park': [2, 1.670546460885938],
 'Childs Hill': [2, 2.018028894022974],
 'Colindale North': [1, 0.27338207831033656],
 'Colindale South': [1, 0.297972580676396],
 'Cricklewood': [1, 0.5721950476262858],
 'East Barnet': [1, 0.7088495481449517],
 'East Finchley': [2, 2.0758512862878904],
 'Edgware': [4, 3.950557378630525],
 'Edgwarebury': [2, 2.2206356334283224],
 'Finchley Church End': [2, 1.6376616880338528],
 'Friern Barnet': [2, 1.8620089161580797],
 'Garden Suburb': [2, 1.8177971659902759],
 'Golders Green': [1, 0.8648695260098458],
 'Hendon': [1, 0.6151279455165084],
 'West Hendon': [6, 6.10146669740784],
 'High Barnet': [4, 4.275020470771101],
 'Mill Hill': [5, 6.972302617372151],
 'Totteridge & Woodside': [1, 0.9641632707048927],
 'Underhill': [1, 0.6733157241464484],
 'West Finchley': [3, 3.167169012020847],
 'Whetstone': [1, 1.3904778120956773],
 'Woodhouse': [1, 0.9385862251532706]}

In [749]:
temp_dct = {x: [round(pop_dens['relative_area_crimes'][x]*50), pop_dens['relative_area_crimes'][x]*50] for x in pop_dens.index}
rounded_total = sum([round(x*50) for x in pop_dens['relative_area_crimes']])

fix_amount(rounded_total, temp_dct)
    
assigned_officers = {}
for x in temp_dct:
    assigned_officers[x] = temp_dct[x][0]*2

final_total = 0
for x in assigned_officers:
    final_total += assigned_officers[x]
    
print("Total assigned officers this month:", final_total)
assigned_officers

Total assigned officers this month: 104

{'Burnt Oak': 4,
 'Barnet Vale': 4,
 'Brunswick Park': 4,
 'Childs Hill': 4,
 'Colindale North': 2,
 'Colindale South': 2,
 'Cricklewood': 2,
 'East Barnet': 2,
 'East Finchley': 4,
 'Edgware': 8,
 'Edgwarebury': 4,
 'Finchley Church End': 4,
 'Friern Barnet': 4,
 'Garden Suburb': 4,
 'Golders Green': 2,
 'Hendon': 2,
 'West Hendon': 14,
 'High Barnet': 8,
 'Mill Hill': 12,
 'Totteridge & Woodside': 2,
 'Underhill': 2,
 'West Finchley': 6,
 'Whetstone': 2,
 'Woodhouse': 2}